{# (c) dsldesign, wasowski, berger #}
# Generated from {{ctx.fname}}
{% macro generate_action(action) %}
{% if  ctx.isMove(action) -%}
    direction = {{1.0 if action.forward == True else -1.0}}
    {% if action.speed %}
    model_speed = {{ctx.generate_expr(action.speed)}}
    velocity = model_speed * 0.008 * direction
    {% else %}
    velocity = 0.1 * direction
    {% endif -%} 
    {% if action.duration %}
    self.engage(velocity, float({{ctx.generate_expr(action.duration)}}))
    {%- else %}
    self.engage(velocity)
    {%- endif %}
{%- elif ctx.isTurn(action) -%}
    self.random_rotation()
{%- elif ctx.isDock(action) -%}
    self.return_to_base()
{%- endif -%}
{%- endmacro -%}

import dsldesign_robot_turtlebot3.turtlebot 
from dsldesign_robot_turtlebot3.turtlebot import TurtleBotPlatform
import random

{% for m in ctx.modes -%}
{{ m.SNAKE_NAME }} = {{m.state_id}}
{% endfor %}

_MODE_NAME = { 
    {% for m in ctx.modes %}
    {{ m.SNAKE_NAME }} : '{{ m.name }}',
    {% endfor %}
}


class Controller(TurtleBotPlatform):

    def __init__(self, executor):
        super().__init__("{{ctx.model.name}}", executor)
        self.activate({{ctx.modes[0].SNAKE_NAME}})

    def activate(self, mode):
        self.mode = mode
        self.mode_pc = 0
        self.info(f'Activated: {_MODE_NAME[self.mode]}')

    def active(self, mode):
        return self.mode % mode == 0

    {% for m in ctx.modes %}
    def execute{{m.SNAKE_NAME}}(self):
        {% for a in m.actions %}
        if self.mode_pc == {{loop.index0}}:
            self.info('{{m.name}}[{{loop.index0}}]')
            {% filter indent(8) %}
            {{generate_action(a)}}
            {% endfilter %}
            self.mode_pc = self.mode_pc + 1
            return True
        {% endfor %}
        {% for sm in m.modes if sm.initial %}
        self.info('{{m.name}}[initializing submode {{sm.name}}]')
        self.activate({{sm.SNAKE_NAME}})
        return True
        {% else %}
        return False
        {% endfor %}

    {% endfor %}

    def run(self):
        while True:
            # allow parallel callbacks to spin in
            self.executor.spin_once(0.0)

            # The constant below is essentially arbitrary, 
            # just to avoid busy waiting.
            if self.tm_latch in self.timers:
                self.executor.spin_once(1.0/self.FREQ)
                continue

            # actions and sub-mode activations

            {% for m in ctx.modes %}
            if self.mode == {{m.SNAKE_NAME}} and self.execute{{m.SNAKE_NAME}}():
                continue
            {% endfor %}

            # reactions (topologically sorted, so that top-mode reactions
            # override the low-mode reactions)

            {% for m in ctx.modes if m.reactions %}
            if self.active({{m.SNAKE_NAME}}):
                {% for r in m.reactions %}
                {% if r.trigger == ctx.Robot.Event.EV_CLAP %}
                if self.ev_clap:
                    self.info('Reacting to clap!')
                    self.ev_clap = False
                {% elif r.trigger == ctx.Robot.Event.EV_OBSTACLE %}
                if self.ev_obstacle:
                    self.info('Reacting to an obstacle!')
                    self.ev_obstacle = False
                {% endif %}
                    self.activate({{r.target.SNAKE_NAME}})
                    continue 

                {% endfor %}
            {% endfor %}

            # continuations

            {% for m in ctx.modes if m.continuation %}
            if self.mode == {{m.SNAKE_NAME}}:
                self.activate({{m.continuation.SNAKE_NAME}})
                continue
            {% endfor %}

def main(args=None):
    dsldesign_robot_turtlebot3.turtlebot.run(
            args, lambda executor: Controller(executor))

if __name__ == '__main__':
    main()
